@font-face {
  font-family: "Retro";
  src: url(../../extras/Retro\ Gaming.ttf);
}

.back {
  display: grid;
  font-family: "Retro";
  font-size: 15px;
  padding: 5px;

  padding-top: 0;
  margin: 0;
}

.fil {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

select {
  font-family: "Retro";
  font-size: 12px;
}
option {
  font-family: "Retro";
  font-size: 12px;
}

.btn {
  background: linear-gradient(0deg, rgb(73, 23, 23), rgb(214, 0, 0));
  font-family: "Retro";
  color: white;
  border-radius: 5px;
  padding: 3px;
}
