@font-face {
  font-family: "Pixel-Text";
  src: url(../../extras/PressStart2P-Regular.ttf);
}
#title {
  color: black;
}

/* opciones fondos 
https://d1t35hkz8sx2bl.cloudfront.net/api/file/vee6cZvTQIGEHRreeWo7/convert?w=1024&h=1024&fit=max&cache=true
https://4.bp.blogspot.com/-7mcdGoDKAew/XD_A96jNVGI/AAAAAAAASxg/Dn6s6tqO_lI9Aw7f1B_izffzOEj8GrmoQCLcBGAs/s1600/Paisaje%2BPixel%2BArt.png
https://data.whicdn.com/images/350989506/original.gif
https://i2.wp.com/68.media.tumblr.com/8a9f9f1c663730b0cd2c848d16e3053c/tumblr_ommbmm3pKp1rnbw6mo1_1280.gif
https://i.pinimg.com/originals/c0/e6/d8/c0e6d8e210ca582568b4656625e71749.gif
https://i.pinimg.com/originals/c1/b3/16/c1b31611e66b7c211bfd0296dd454bfb.gif
https://res.cloudinary.com/practicaldev/image/fetch/s--SH83m96m--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_66%2Cw_880/https://i.pinimg.com/originals/b4/6c/d0/b46cd069a1837a0a881fe9b45bae456f.gif
https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/64c9ea21-82be-48a3-a6f5-6d1786a3fc7e/d849dwo-0cdfe0ca-4bbe-43d5-b8d4-6c58db906e1e.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzY0YzllYTIxLTgyYmUtNDhhMy1hNmY1LTZkMTc4NmEzZmM3ZVwvZDg0OWR3by0wY2RmZTBjYS00YmJlLTQzZDUtYjhkNC02YzU4ZGI5MDZlMWUuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.n3jDMgOwazieu5EgWAGyGW4kZSx12Xqbs3BMHPLp6o4
*/
.background {
  display: grid;
  grid-template-rows: 75% 25%;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.backgroundImg0 {
  background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/64c9ea21-82be-48a3-a6f5-6d1786a3fc7e/d849dwo-0cdfe0ca-4bbe-43d5-b8d4-6c58db906e1e.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzY0YzllYTIxLTgyYmUtNDhhMy1hNmY1LTZkMTc4NmEzZmM3ZVwvZDg0OWR3by0wY2RmZTBjYS00YmJlLTQzZDUtYjhkNC02YzU4ZGI5MDZlMWUuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.n3jDMgOwazieu5EgWAGyGW4kZSx12Xqbs3BMHPLp6o4);
  background-size: 100%;
}

.backgroundImg1 {
  background: url(https://res.cloudinary.com/practicaldev/image/fetch/s--SH83m96m--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_66%2Cw_880/https://i.pinimg.com/originals/b4/6c/d0/b46cd069a1837a0a881fe9b45bae456f.gif);
  background-size: 100%;
}
.backgroundImg4 {
  background: url(https://i.pinimg.com/originals/c1/b3/16/c1b31611e66b7c211bfd0296dd454bfb.gif);
  background-size: 100%;
}
.backgroundImg3 {
  background: url(https://i.pinimg.com/originals/c0/e6/d8/c0e6d8e210ca582568b4656625e71749.gif);
  background-size: 100%;
}
.backgroundImg2 {
  background: url(https://4.bp.blogspot.com/-7mcdGoDKAew/XD_A96jNVGI/AAAAAAAASxg/Dn6s6tqO_lI9Aw7f1B_izffzOEj8GrmoQCLcBGAs/s1600/Paisaje%2BPixel%2BArt.png);
  background-size: 100%;
}
.backgroundImg5 {
  background: url(https://d1t35hkz8sx2bl.cloudfront.net/api/file/vee6cZvTQIGEHRreeWo7/convert?w=1024&h=1024&fit=max&cache=true);
  background-size: 100%;
}

.logo {
  padding: 0;
  margin: 0;
  width: 640px;
  height: 480px;
}

.btn {
  display: flex;
  justify-content: center;
  text-decoration-style: none;
}

.textBtn1 {
  color: whitesmoke;
  text-decoration: solid;
  text-decoration-style: none;
  font-size: 30px;
  font-family: "Pixel-Text";
}

.textBtn2 {
  color: black;
  text-decoration: solid;
  text-decoration-style: none;
  font-size: 30px;
  font-family: "Pixel-Text";
}
